.global {
  background-color: #74b54e;
}

h1 {
  font-size: 25px;
  color: #2685bf;
}

h2 {
  font-size: 15px;
  color: #7eb7db;
}
.textoB {
  color: #2685bf;
}

.login {
  background-color: #78c1f3;
}

.buttonSubmit {
  background-color: #a2bf39;
}
