.global{
    background-color: #74b54e;
}

h1{
    font-size: 25px;
    color: #2685BF;
  
}
h2{
    font-size: 15px;
    color: #7eb7db;
}
.textoB{
    color: #2685BF;
    }

.login{
    background-color: 
    #78C1F3;
}

.buttonSubmit{
    background-color: #A2BF39;
}