.imgAni {
    animation-name: aniZoom;
    animation-duration: 6s;
}

.subColor{
    color: #608284
}

.titleColor{
    color:  #7aa087; 
}

.title2CT{
    color:  #fcfcfc;
    text-transform: uppercase; 
    font-weight: bold;
}

.pColor{
    color: #cad8bf;
}

.fontFam{
    font-family: Georgia, serif;
    
}

.fontTitle{
    font-family: 'Sacramento', cursive;
    font-size: 35px;
}

body{
    background-image: url('./Assets/Fundo.jpg'); 
    background-size: cover;
}

.myImg{
    border-radius: 100%;
    border-style: outset;
    border-color: white;
    max-width: 250px;
}

@keyframes aniZoom {
    0% {
        max-width: 250px;
    }

    25% {
        max-width: 275px;
    }

    50% {
        max-width: 250px;
    }

    75% {
        max-width: 275px;
    }

    100% {
        max-width: 250px;
    }
}